    body{
       background: rgb(105, 29, 204);
       font: normal 15pt arial;
    }

   header{
     color:white;
     text-align: center;
   }

   section{
       background:white ;
       border-radius: 10px;
       padding: 15px;
       width: 300px;
       margin: auto;
       box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
    }

   footer{
     color:white;
     text-align: center; 
     font-style: italic;

    }
    #foto{
      border-radius: 50%;
      width: 250px;
      height: 250;
    }
    #divv{
      width: 300px;
      
    }